{% extends "base.html" %}

    
{% block content %}

{% if not created %}

{{ form.as_p }}

<div style='margin-top:30px;'>
    <form action='/articles/create/' method="POST" >
        {% csrf_token %}
        <div><input type='text' name='title' placeholder='Article Titel' /></div>
        <br/>
        <div><textarea name='content' placeholder='Content' > </textarea></div>
        <br/>
        <button type='submit'>Create the article</button>
    </form>
</div>
{% else %}
<p>Your article was created.</p>
<a href='/articles/{{ object.id }}/'>{{ object.title }} - {{ object.content }}
</a>

{% endif %}

    {% endblock content %}